{
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": ["prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "prettier",
    "plugin:react/recommended",
    "eslint-config-prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["*.tsx"]
    }
  ],
  "parser": "@typescript-eslint/parser",

  "rules": {
    "no-console": "error",
    "prettier/prettier": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
